@{
    var lst = GW2Recruit.GetRecruitLst();
}

    <div>

        <div>
            <table>
                <thead>
                    <tr><td>发布招募</td></tr>
                </thead>
                <tr><td>数量:<input id="count" /></td></tr>
                <tr><td>需求:<input id="desc" /></td></tr>
                <tr><td><button class="pure-button" onclick="Recruit('@User.GetId()')">发布</button></td></tr>
            </table>
        </div>

        @if (ViewBag.recruiting)
        {
            <h1>我的招募车队</h1>

            <table class="pure-table" width="100%">
                <thead>
                    <tr>
                        <th>QQ</th>
                        <th>内容</th>
                        <th>操作</th>
                    </tr>
                </thead>
                @foreach (var teamInfo in ViewBag.teamInfo)
                {
                    <tr>
                        <th>@teamInfo.senderId</th>
                        <th>@teamInfo.content</th>
                        <td>
                            <button id="modifyButton" class="pure-button" onclick="DeleteTeammate('@User.GetId()', '@teamInfo.senderId')">删除</button>
                        </td>
                    </tr>
                }
            </table>
        }
    </div>

<h1>招募列表 </h1>
<h2>点击联系生成联系代码，发送给机器人</h2>
<table class="pure-table" width="100%">
    <thead>
        <tr>
            <th>联系ID</th>
            <th>发布者QQ</th>
            <th>内容</th>
            <th>上车情况</th>
            <th>时间</th>
            <th>操作</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var row in lst)
        {
            <tr>
                <td>@row.timestamp</td>
                <td>@row.senderId</td>
                <td>@row.desc</td>
                <td>@row.confirmedLst.Count/@row.requiredCount</td>
                <td align="right">@row.GetTimeStr()</td>
                <td>
                    <button id="modifyButton" class="pure-button" onclick="ConnectSender('@row.GetConnectId()', '@User.GetId()')">上车</button>
                </td>
            </tr>

        }
    </tbody>
</table>



<script>

    function ConnectSender(infoStr, senderStr) {

        var contenStr = prompt('输入对话');

        httpGet("/Recruits/TeammateJoin", { infoStr, senderStr, contenStr }).then(response => {
            successMsg("上车成功");
        });
    }

    function DeleteTeammate(senderIdStr, deleteIdStr) {

        httpGet("/Recruits/DeleteTeammate", { senderIdStr, deleteIdStr }).then(response => {
            successMsg("删除成功");
        });
    }

    function Recruit(senderStr) {
        var countStr = document.getElementById('count').value;
        var desc = document.getElementById('desc').value;


        httpGet("/Recruits/AddRecruit", { countStr, senderStr, desc }).then(response => {
            successMsg("发布成功");
        });
    }
</script>

