@{
    var lst = GW2Recruit.GetRecruitLst();
}

<h1>招募列表 </h1>
<h2>点击联系生成联系代码，在任一有招募机器人的群里发送</h2>
<table class="pure-table" width="100%">
    <thead>
        <tr>
            <th>联系ID</th>
            <th>发布者QQ</th>
            <th>内容</th>
            <th>时间</th>
            <th>操作</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var row in lst)
        {
            <tr>
                <td>@row.timestamp</td>
                <td>@row.senderId</td>
                <td>@row.desc</td>
                <td align="right">@row.GetTimeStr()</td>
                <td>
                    <button id="modifyButton" class="pure-button" onclick="ModifyMovie('@row.GetConnectId()')">联系</button>
                </td>
            </tr>

        }
    </tbody>
</table>



<script>
    function ModifyMovie(id) {

        var input = prompt('输入对话');
        alert('gw2联系|' + id + '|' + input);


        @*$.ajax({
            url: '@Url.Action("modifyMovieClicked","HelloWorld")',
            type: 'POST',
            data: { movieName: $('#MovieName').val() },
        }).done(function () {
            alert('Modify Movie');
        });*@
    }
</script>

